@import "tailwindcss";

@theme {
  --font-display: "Funnel Display", sans-serif; 
}

#right::-webkit-scrollbar{
    display: none;
}

@keyframes pulse{
  0%{
    background-position: 0% 50%;
  }

  100%{
    background-position: 100% 50%;
  }
}