@import "tailwindcss";

@theme {
  --font-display: "Funnel Display", sans-serif; 
}


@keyframes pulse{
  0%{
    background-position: 0% 50%;
  }

  100%{
    background-position: 100% 50%;
  }
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}



html, body, #root {
  height: 100%;
  background: black;
}
